.root {
  max-width: 740px;
  padding: 0 1rem;
  margin: 0 auto;
  * {
    padding: 0;
    margin: 0;
  }
  :global {
    .tools-header {
      display: flex;
      h1 {
        margin-right: 0.5rem;
      }
      .header-item {
        cursor: pointer;
      }
      .header-active {
        color: var(--g-active-color);
      }
    }
    .search {
      width: calc(100% - 38px);
      height: 40px;
      margin: 1rem 0;
      font-size: 40px;
      outline-style: none;
      border: 5px solid var(--g-active-color);
      // border: 5px solid #000;
      border-radius: 10px;
      padding: 5px 14px;
    }
    .tools-main {
      .tools-item {
        img,
        video {
          max-width: 740px;
          width: 100%;
          margin-top: 0.5rem;
        }
      }
    }
  }
}
